# Ignore node_modules in both frontend and backend
Frontend/node_modules/

# Ignore environment configuration files
Frontend/.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
.env

# Keep build folder in Git (ensure this folder is not ignored)
!Frontend/build/
